.pill {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.8);
  text-align: center;
}

.pill .active-state {
  height: 1.5em;
}

.pill .active-state > span {
  display: none;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}
